.content{
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 50px);
}

.regButtons{
  width: 220px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.regInputMail, .regInput{
  margin-bottom: 8px;
  padding-top: 8px;
  paddgin-bottom: 8px;
}

.regButton{
  margin-top: 32px;
}

.regErrorMsg{
  color: #fb2a2a;
  font-size: 13px;
}